// ==============================
// Override Variables
// ==============================

// ========== Global ========== //
// Font and Line Height
$global-font-family: Inconsolata, system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif !important;
// ========== Global ========== //

// ========== Header ========== //
// Font family and size of the header title
$header-title-font-family: Inconsolata, $global-font-family !important;
$header-title-font-size: 1.5rem !default;
// ========== Header ========== //
